@page
@model _6fingers.Pages.Admin.IndexModel
@{
}
<h1>Admin</h1>
<br />

@if (Model.DisplayMsgError)
{
	<div class="alert alert-danger" role="alert">
		<p>
			ERROR : account not valid
		</p>
	</div>

}
<br />
<form method="post">
	<input type="text" name="username" placeholder="Login"><br /><br />
	<input type="password" name="password" placeholder="Mot de passe"><br /><br />
	<button>Se connecter</button>
</form>
